* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;

}

.navbar-brand img {
    max-width: 100px;
}

.navbar-nav {
    margin-left: auto;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.3em;
    height: 1.9em;
    margin-left: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #00b05080;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #00b05080;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00b05080;
    border: 1px solid #00b05080;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00b05080;
}

input:checked+.slider:before {
    transform: translateX(1.4em);
    background-color: #00b05080;
}

@media (max-width: 992px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        margin-bottom: 1rem;
    }

    .switch {
        margin: 1rem auto;
    }
}

@media (min-width: 993px) {
    .navbar-collapse {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .switch {
        margin-left: auto;
    }
}


.drp:hover{
    width: max-content;
    padding: 1px 1px ;
    background-color: #f5f100;
    border-radius: 5px;
}




.full-page h1 {
    position: relative;
    z-index: 2;
    opacity: 1;/* Reset margins and paddings */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .navbar {
        background-color: transparent;
        position: fixed;
        width: 100%;
        z-index: 1030;
    }
    
    .navbar-brand img {
        max-width: 100px;
    }
    
    .navbar-nav {
        margin-left: auto;
    }
    
    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.3em;
        height: 1.9em;
        margin-left: 1rem;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border: 1px solid #00b05080;
        transition: .4s;
        border-radius: 30px;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.27em;
        bottom: 0.25em;
        background-color: #00b05080;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #00b05080;
        border: 1px solid #00b05080;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #00b05080;
    }
    
    input:checked+.slider:before {
        transform: translateX(1.4em);
        background-color: #00b05080;
    }
    
    @media (max-width: 992px) {
        .navbar-collapse {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .navbar-nav {
            margin-bottom: 1rem;
        }
    
        .switch {
            margin: 1rem auto;
        }
    }
    
    @media (min-width: 993px) {
        .navbar-collapse {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
        .switch {
            margin-left: auto;
        }
    }
    
    
    .overlay {
        z-index: 2;
    }
    
    footer {
        background-color: #333;
    }
    
    footer a {
        text-decoration: none;
    }
    
    footer a:hover {
        text-decoration: none;
        color: #f5f100;
    }
    
    footer img {
        max-width: 100%;
    }
    
    footer h5 {
        margin-top: 0;
    }
    
    footer ul {
        padding-left: 0;
    }
    
    footer ul li {
        margin-bottom: 0.5rem;
    }
    
    @media (max-width: 768px) {
        .col-md-3 {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
}


.overlay {
    z-index: 2;
}



















footer {
    background-color: #333;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #f5f100;
}

footer img {
    max-width: 100%;
}

footer h5 {
    margin-top: 0;
}

footer ul {
    padding-left: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .col-md-3 {
        text-align: center;
        margin-bottom: 1rem;
    }
}