:root{
    --main-bg: #00044B;
    --main-bg-light: #00044b9f;
    --main-color: hsl(44, 77%, 42%);
    --white: #fff;
}
body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-image: linear-gradient(to top left, #ffffffe1, #ffffffe1), url(../images/start_career.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.winscroll{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 3em 0;
    div{
        .auth{
            width: 15em;
            max-width: 20em;
            background-color: var(--white);
            box-shadow: 0 4px 8px var(--main-bg-light);
            padding: 2em;
            border-radius: 0.4em;
            -webkit-border-radius: 0.2em;
            -moz-border-radius: 0.2em;
            -ms-border-radius: 0.2em;
            -o-border-radius: 0.2em;
            .logo{
                text-align: center;
                img{
                    width: 5em;
                }
                p{
                    color: var(--main-bg-light);
                    font-weight: 400;
                    font-size: 0.8em;
                }
            }
            form{
                input[type=text], input[type=email],input[type=password]{
                    box-sizing: border-box;
                    width: 100%;
                    height: 3.5em;
                    padding: 1em;
                    margin-top: 1em;
                    border: 0.15em solid  #a4a7a7;
                    cursor: pointer;
                }
                input[type=text]:focus, input[type=email]:focus,input[type=password]:focus{
                    border: 0.16em solid var(--main-bg);
                    outline: none;
                }
                input[type=submit], input[type=button]{
                    background-color: var(--main-bg-light);
                    color: var(--white);
                    box-sizing: border-box;
                    width: 100%;
                    height: 3.5em;
                    padding: 1em;
                    border: none;
                    margin-top: 1em;
                    font-weight: bold;
                    border-radius: 0.4em;
                    -webkit-border-radius: 0.4em;
                    -moz-border-radius: 0.4em;
                    -ms-border-radius: 0.4em;
                    -o-border-radius: 0.4em;
                    transition: ease 0.8s;
                    -webkit-transition: ease 0.8s;
                    -moz-transition: ease 0.8s;
                    -ms-transition: ease 0.8s;
                    -o-transition: ease 0.8s;
                    cursor: pointer;
                }
                input[type=submit]:hover, input[type=button]:hover{
                    background-color: var(--main-bg);
                }
                .intel-prop{
                    font-size: 0.6em;
                    margin-top: 1em;
                    line-height: 1.8em;
                    a{
                        text-decoration: none;
                        color: var(--main-bg-light);
                        transition: ease-in 1s;
                        -webkit-transition: ease-in 1s;
                        -moz-transition: ease-in 1s;
                        -ms-transition: ease-in 1s;
                        -o-transition: ease-in 0.5s;
                    }
                    a:hover{
                        text-decoration: underline;
                        color: var(--main-bg);
                    }
                    input[type=checkbox]{
                        margin: auto;
                    }
                    input[type=button]{
                        width: 100%;
                        height: 3.5em;
                        padding: 1em;
                        border: none;
                        margin-top: 1em;
                        font-weight: bold;
                        border-radius: 0.4em;
                        color: var(--main-bg-light);
                        background-color: var(--white);
                        cursor: pointer;
                        border:0.15em solid var(--main-bg-light);
                        transition: all ease-out 0s;
                        -webkit-transition: all ease-out 0s;
                        -moz-transition: all ease-out 0s;
                        -ms-transition: all ease-out 0s;
                        -o-transition: all ease-out 0s;
                    }
                    input[type=button]:hover{
                        border: 0.18em solid var(--main-bg);
                        color: var(--main-bg);
                    }
                }
                
                .input-set{
                    position: relative;
                    svg{
                        position: absolute;
                        top: 20px ;
                        right: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
