:root {
  --main-bg: #00044B;
  --main-bg-light: #111683;
  --main-color: #bd9119;
  --main-color-light: #e4b535;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: montserrat, "sans-serif";
  font-style: normal;
  background-color: #fff;
}

.db-winscroll {
  display: grid;
  grid-template-columns: 15% 85%;
}
.db-winscroll #db-panel {
  position: fixed;
  grid-column: 1/2;
  background: var(--main-bg);
  width: 15%;
  height: 100vh;
  z-index: 99;
}
.db-winscroll #db-panel .head-panel {
  padding: 0.25em;
  text-align: center;
  position: relative;
  padding-top: 5px;
  height: 70px;
  border-bottom: 2px solid var(--main-color-light);
}
.db-winscroll #db-panel .head-panel img {
  width: 2.5em;
}
.db-winscroll #db-panel .head-panel svg {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 20px;
}
.db-winscroll #db-panel .body-panel ul {
  padding: 0.3em;
}
.db-winscroll #db-panel .body-panel ul li {
  list-style: none;
  margin: 0.3em;
}
.db-winscroll #db-panel .body-panel ul li button {
  cursor: pointer;
  text-align: left;
  background: none;
  text-overflow: clip;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.7em;
  border: none;
  padding: 0.5em 0.3em;
  transition: all ease-in 0.5s;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -ms-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
}
.db-winscroll #db-panel .body-panel ul li button:hover {
  background-color: rgba(189, 145, 25, 0.5215686275);
}
.db-winscroll #db-panel .body-panel ul li svg {
  stroke: var(--main-color-light);
  fill: var(--main-color-light);
}
.db-winscroll #display-screen {
  grid-column: 2/3;
}
.db-winscroll #display-screen .nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.1em solid var(--main-color);
  height: 78px;
}
.db-winscroll #display-screen .nav-bar .left-nav {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: start;
}
.db-winscroll #display-screen .nav-bar .left-nav h1 {
  font-size: 1.5em;
  color: var(--main-bg);
  font-weight: bold;
  margin-left: 20px;
}
.db-winscroll #display-screen .nav-bar .left-nav svg {
  display: none;
  cursor: pointer;
}
.db-winscroll #display-screen .nav-bar .right-nav {
  grid-column: 2/3;
  font-size: 1.2em;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1em;
}
.db-winscroll #display-screen .nav-bar .right-nav svg {
  margin-left: 30px;
  padding-right: 5px;
  fill: var(--main-bg);
  stroke: var(--main-bg);
}
.db-winscroll #display-screen .nav-bar .right-nav p {
  color: var(--main-color);
  font-weight: bold;
}
.db-winscroll #display-screen .screen {
  padding: 0 0.5em;
}
.db-winscroll #display-screen .screen .screen-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
}
.db-winscroll #display-screen .screen .screen-head .screen-head-left {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0.8em;
}
.db-winscroll #display-screen .screen .screen-head .screen-head-left h2 {
  font-size: 1.5em;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1em;
}
.db-winscroll #display-screen .screen .screen-head .screen-head-right {
  grid-column: 2/3;
  padding: 0 0.8em;
  font-size: 1em;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: end;
}
.db-winscroll #display-screen .screen .screen-head .screen-head-right p {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1em;
  width: 70%;
}
.db-winscroll #display-screen .screen .screen-head .screen-head-right p a {
  text-decoration: none;
  color: #000;
}
.db-winscroll #display-screen .screen .screen-head .screen-head-right p a svg {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}
.db-winscroll #display-screen .screen .screen-body {
  margin: 20px;
}
.db-winscroll #display-screen .screen .screen-body form {
  margin: 1em 0;
  background-color: #fff;
  box-shadow: 0 3px 4px var(--main-bg);
  width: 100%;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}
.db-winscroll #display-screen .screen .screen-body form .position {
  text-align: center;
  background-color: var(--white);
  color: var(--main-bg);
  font-size: 0.8em;
  padding: 0.1em 0.5em;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid var(--main-bg);
  border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  -o-border-radius: 0.5em 0.5em 0 0;
}
.db-winscroll #display-screen .screen .screen-body form .position label {
  padding: 5px;
}
.db-winscroll #display-screen .screen .screen-body form .position select {
  font-family: "Gruppo", sans-serif;
  padding: 0.4em;
  font-size: 1em;
  outline: none;
  width: 100%;
  border: 0.1em solid rgba(0, 4, 75, 0.5411764706);
  margin-top: 7px;
  box-sizing: border-box;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.db-winscroll #display-screen .screen .screen-body form .form-head {
  text-align: left;
  background-color: var(--main-bg);
  color: var(--white);
  font-size: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  -o-border-radius: 0.5em 0.5em 0 0;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr {
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.2em 0.2em;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div label {
  font-size: 0.6em;
  height: 0.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5em 0.5em 0.5em 0.3em;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div label i {
  font-size: 0.5em;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div input[type=text], .db-winscroll #display-screen .screen .screen-body form .form-body table tr td div input[type=email], .db-winscroll #display-screen .screen .screen-body form .form-body table tr td div input[type=date], .db-winscroll #display-screen .screen .screen-body form .form-body table tr td div input[type=file], .db-winscroll #display-screen .screen .screen-body form .form-body table tr td div select {
  font-family: "Gruppo", sans-serif;
  padding: 0.4em;
  font-size: 1em;
  outline: none;
  width: 100%;
  border: 0.1em solid rgba(0, 4, 75, 0.5411764706);
  box-sizing: border-box;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div input:focus, .db-winscroll #display-screen .screen .screen-body form .form-body table tr td div select:focus {
  outline: 0.08em solid rgba(0, 4, 75, 0.5411764706);
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div input[type=checkbox] {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div textarea {
  font-family: "Gruppo", sans-serif;
  padding: 0.4em;
  font-size: 1em;
  outline: none;
  width: 100%;
  height: 200px;
  border: 0.1em solid rgba(0, 4, 75, 0.5411764706);
  box-sizing: border-box;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div #Emergency {
  display: grid;
  grid-template-columns: 20% 80%;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div #Emergency select {
  grid-column: 1/2;
  border-radius: 0.5em 0 0 0.5em;
  -webkit-border-radius: 0.5em 0 0 0.5em;
  -moz-border-radius: 0.5em 0 0 0.5em;
  -ms-border-radius: 0.5em 0 0 0.5em;
  -o-border-radius: 0.5em 0 0 0.5em;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div #Emergency input[type=text] {
  grid-column: 2/3;
  border-radius: 0 0.5em 0.5em 0;
  -webkit-border-radius: 0 0.5em 0.5em 0;
  -moz-border-radius: 0 0.5em 0.5em 0;
  -ms-border-radius: 0 0.5em 0.5em 0;
  -o-border-radius: 0 0.5em 0.5em 0;
}
.db-winscroll #display-screen .screen .screen-body form .form-body table tr td div #Emergency input[type=text], .db-winscroll #display-screen .screen .screen-body form .form-body table tr td div #Emergency select {
  font-family: "Gruppo", sans-serif;
  padding: 0.4em;
  font-size: 1em;
  outline: none;
  width: 100%;
  border: 0.1em solid rgba(0, 4, 75, 0.5411764706);
  box-sizing: border-box;
}
.db-winscroll #display-screen .screen .screen-body form .form-footer {
  background: #e7e7e7;
  padding: 0.4em;
}
.db-winscroll #display-screen .screen .screen-body form .form-footer button {
  cursor: pointer;
  padding: 1em 1em;
  background: rgba(0, 4, 75, 0.7137254902);
  border: none;
  color: #fff;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}
.db-winscroll #display-screen .screen .screen-body form .form-footer button svg {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
}
.db-winscroll #display-screen .screen .screen-body form .form-footer button:hover {
  background: var(--main-bg);
}
.db-winscroll #display-screen .screen .screen-body form .no-br {
  padding: 0.5em;
}
.db-winscroll #display-screen .screen .screen-body form .no-br table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.db-winscroll #display-screen .screen .screen-body form .no-br table tr td label {
  font-size: 0.7em;
  padding: 0.5em 0.5em 0.5em 0.3em;
}
.db-winscroll #display-screen .screen .screen-body form .no-br table tr td label i {
  font-size: 0.5em;
}
.db-winscroll #display-screen .screen .screen-body form .no-br table tr td input[type=text], .db-winscroll #display-screen .screen .screen-body form .no-br table tr td input[type=email], .db-winscroll #display-screen .screen .screen-body form .no-br table tr td input[type=date], .db-winscroll #display-screen .screen .screen-body form .no-br table tr td input[type=file], .db-winscroll #display-screen .screen .screen-body form .no-br table tr td select {
  font-family: "Gruppo", sans-serif;
  padding: 0.4em;
  font-size: 0.7em;
  outline: none;
  width: 100%;
  border: 0.1em solid #e0e0e0;
  background: #eeecec;
  box-sizing: border-box;
}
.db-winscroll #display-screen .screen .screen-body form .no-br table tr td input:focus, .db-winscroll #display-screen .screen .screen-body form .no-br table tr td select:focus {
  outline: 0.08em solid #aaa;
}
.db-winscroll #display-screen .screen .body-edu {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #fff;
  border-top: 0.1em solid var(--main-bg);
  padding: 1em;
  box-shadow: 0 3px 4px var(--main-bg);
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
}
.db-winscroll #display-screen .screen .body-edu .left-edu {
  grid-column: 1/2;
  margin: 0.2em 1.5em 0.2em 0;
}
.db-winscroll #display-screen .screen .body-edu .left-edu div {
  cursor: pointer;
  padding: 0.3em;
  color: #00f;
  font-size: 0.7em;
  margin-bottom: 1em;
  border-color: #b4b4b4;
  border-width: 0.08em 0.08em 0 0.08em;
  border-radius: 0.3em 0.3em 0 0;
  -webkit-border-radius: 0.3em 0.3em 0 0;
  -moz-border-radius: 0.3em 0.3em 0 0;
  -ms-border-radius: 0.3em 0.3em 0 0;
  -o-border-radius: 0.3em 0.3em 0 0;
}
.db-winscroll #display-screen .screen .body-edu .right-edu {
  grid-column: 2/3;
}
.db-winscroll #display-screen #footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.7em;
  padding: 0 0.5em;
}
.db-winscroll #display-screen #footer .left-footer {
  grid-column: 1/2;
}
.db-winscroll #display-screen #footer .right-footer {
  grid-column: 2/3;
  text-align: right;
}
.db-winscroll #display-screen #footer .right-footer button {
  cursor: pointer;
  padding: 0.5em 0.8em;
  background: var(--main-bg);
  border: none;
  color: #fff;
  margin-left: 20px;
  border-radius: 0.4em;
}

@media screen and (max-width: 768px) {
  .db-winscroll {
    display: block;
    position: relative;
  }
  .db-winscroll #db-panel {
    display: none;
    width: 45%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .db-winscroll #display-screen .screen .screen-body {
    margin: 20px 0;
  }
  .db-winscroll #display-screen .screen .body-edu {
    display: block;
  }
  .db-winscroll #display-screen .footer {
    font-size: 0.5em;
  }
}/*# sourceMappingURL=af_style.css.map */