:root{
    --main-bg: #00044B;
    --main-bg-light: #111683;
    --main-color: #bd9119;
    --main-color-light: #e4b535;
    --white : #fff;
}
body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: montserrat, 'sans-serif';
    font-style: normal;
    background-color: #fff;
}
.db-winscroll{
    display: grid;
    grid-template-columns: 15% 85%;
    #db-panel{
        position: fixed;
        grid-column: 1/2;
        background: var(--main-bg);
        width: 15%;
        height: 100vh;
        z-index: 99;
        .head-panel{
            padding: 0.25em;
            text-align: center;
            position: relative;
            padding-top: 5px;
            height: 70px;
            border-bottom: 2px solid var(--main-color-light);
            img{
                width: 2.5em;
            }
            svg{
                display: none;
                cursor: pointer;
                position: absolute;
                right: 2px;
                top: 20px;
            }
        }
        
        .body-panel{

            ul{
                padding: 0.3em;
                li{
                    list-style: none;
                    margin: 0.3em;
                    button{
                        cursor: pointer;
                        text-align: left;
                        background: none;
                        text-overflow: clip;
                        color: #fff;
                        width: 100%;
                        box-sizing: border-box;
                        font-size: 0.7em;
                        border: none;
                        padding: 0.5em 0.3em;
                        transition: all ease-in 0.5s;
                        border-radius: 0.3em                    ;
                        -webkit-border-radius: 0.3em                    ;
                        -moz-border-radius: 0.3em                    ;
                        -ms-border-radius: 0.3em                    ;
                        -o-border-radius: 0.3em                    ;
                        -webkit-transition: all ease-in 0.5s;
                        -moz-transition: all ease-in 0.5s;
                        -ms-transition: all ease-in 0.5s;
                        -o-transition: all ease-in 0.5s;
                    }
                    button:hover{
                        background-color: #bd911985;
                    }
                    svg{
                        stroke: var(--main-color-light);
                        fill: var(--main-color-light)
                    }
                }
            }
        }
    };
    #display-screen{
        grid-column: 2/3;
        .nav-bar{
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: 0.1em solid var(--main-color);
            height: 78px;
            .left-nav{
                grid-column: 1/2;
                display: flex;
                align-items: center;
                justify-content: start;
                h1{
                    font-size: 1.5em;
                    color: var(--main-bg);
                    font-weight: bold;
                    margin-left: 20px;
                }
                svg{
                    display: none;
                    cursor: pointer;
                }
            }
            .right-nav{
                grid-column: 2/3;
                font-size: 1.2em;
                font-weight: lighter;
                display: flex;
                align-items: center;
                justify-content: end;
                padding-right: 1em;
                svg{
                    margin-left: 30px;
                    padding-right: 5px;
                    fill: var(--main-bg);
                    stroke: var(--main-bg);
                }
                p{
                    color: var(--main-color);
                    font-weight: bold
                }
            }
        };
        .screen{
            padding: 0 0.5em;
            .screen-head{
                display: grid;
                grid-template-columns: 1fr 1fr;
                height: 50px;
                .screen-head-left{
                    grid-column: 1/2;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding: 0 0.8em;
                    h2{
                        font-size: 1.5em;
                        font-weight: bolder;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 1em;
                    }

                }
                .screen-head-right{
                    grid-column: 2/3;
                    padding: 0 0.8em;
                    font-size: 1em;
                    font-weight: lighter;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    p{
                        font-size: 0.9em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 1em;
                        width: 70%;
                        a{
                            text-decoration: none;
                            color: #000;
                            svg{
                                transform: translateY(3px);
                                -webkit-transform: translateY(3px);
                                -moz-transform: translateY(3px);
                                -ms-transform: translateY(3px);
                                -o-transform: translateY(3px);
}
                        }
                    }
                }
            }
            .screen-body{
                margin: 20px;
                form{
                    margin: 1em 0;
                    background-color: #fff;
                    box-shadow: 0 3px 4px var(--main-bg);
                    width: 100%;
                    border-radius: 0.4em                         ;
                    -webkit-border-radius: 0.4em                         ;
                    -moz-border-radius: 0.4em                         ;
                    -ms-border-radius: 0.4em                         ;
                    -o-border-radius: 0.4em                         ;
                    .position{
                        text-align: center;
                        background-color: var(--white);
                        color: var(--main-bg);
                        font-size: 0.8em;
                        padding: 0.1em 0.5em;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        border-top: 1px solid var(--main-bg);
                        border-radius: 0.5em 0.5em 0 0                        ;
                        -webkit-border-radius: 0.5em 0.5em 0 0                        ;
                        -moz-border-radius: 0.5em 0.5em 0 0                        ;
                        -ms-border-radius: 0.5em 0.5em 0 0                        ;
                        -o-border-radius: 0.5em 0.5em 0 0                        ;
                        label{
                            padding: 5px;
                        }
                        select{
                            font-family: "Gruppo", sans-serif;
                            padding: 0.4em;
                            font-size: 1em;
                            outline: none;
                            width: 100%;
                            border: 0.1em solid #00044b8a;
                            margin-top: 7px;
                            box-sizing: border-box;
                            border-radius: 0.5em                            ;
                            -webkit-border-radius: 0.5em                            ;
                            -moz-border-radius: 0.5em                            ;
                            -ms-border-radius: 0.5em                            ;
                            -o-border-radius: 0.5em                            ;
                        }
                    }
                    .form-head{
                        text-align: left;
                        background-color: var(--main-bg);;
                        color: var(--white);
                        font-size: 0.8em;
                        padding: 0.1em 0.5em;
                        border-radius: 0.5em 0.5em 0 0                     ;
                        -webkit-border-radius: 0.5em 0.5em 0 0                     ;
                        -moz-border-radius: 0.5em 0.5em 0 0                     ;
                        -ms-border-radius: 0.5em 0.5em 0 0                     ;
                        -o-border-radius: 0.5em 0.5em 0 0                     ;
                    }
                    .form-body{
                        table{
                            table-layout: fixed;
                            border-collapse: collapse;
                            width: 100%;
                            tr{
                                word-break: break-all;
                                word-wrap: break-word;
                                white-space: normal;
                                td{
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    padding: 0.2em 0.2em;
                                    div{
                                        label{
                                            font-size: 0.6em;
                                            height: 0.4em;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            padding: 0.5em 0.5em 0.5em 0.3em;
                                            i{
                                                font-size: 0.5em;
                                            }
                                        }
                                        input[type=text], input[type=email], input[type=date],input[type=file], select{
                                            font-family: "Gruppo", sans-serif;
                                            padding: 0.4em;
                                            font-size: 1em;
                                            outline: none;
                                            width: 100%;
                                            border: 0.1em solid #00044b8a;
                                            box-sizing: border-box;
                                            border-radius: 0.5em                            ;
                                            -webkit-border-radius: 0.5em                            ;
                                            -moz-border-radius: 0.5em                            ;
                                            -ms-border-radius: 0.5em                            ;
                                            -o-border-radius: 0.5em                            ;
                                        }
                                        input:focus, select:focus{
                                            outline: 0.08em solid #00044b8a
                                        }
                                        input[type=checkbox]{
                                            transform: translateY(3px);
                                            -webkit-transform: translateY(3px);
                                            -moz-transform: translateY(3px);
                                            -ms-transform: translateY(3px);
                                            -o-transform: translateY(3px);
    }
                                        textarea{
                                            font-family: "Gruppo", sans-serif;
                                            padding: 0.4em;
                                            font-size: 1em;
                                            outline: none;
                                            width: 100%;
                                            height: 200px;
                                            border: 0.1em solid #00044b8a;
                                            box-sizing: border-box;
                                            border-radius: 0.5em                            ;
                                            -webkit-border-radius: 0.5em                            ;
                                            -moz-border-radius: 0.5em                            ;
                                            -ms-border-radius: 0.5em                            ;
                                            -o-border-radius: 0.5em                            ;
    }
                                        #Emergency{
                                            display: grid;
                                            grid-template-columns: 20% 80%;
                                            select{
                                                grid-column: 1/2;
                                                border-radius: 0.5em 0 0 0.5em                            ;
                                                -webkit-border-radius: 0.5em 0 0 0.5em                            ;
                                                -moz-border-radius: 0.5em 0 0 0.5em                            ;
                                                -ms-border-radius: 0.5em 0 0 0.5em                            ;
                                                -o-border-radius: 0.5em 0 0 0.5em                            ;
                                            }
                                            input[type=text]{
                                                grid-column: 2/3;
                                                border-radius: 0 0.5em 0.5em 0                           ;
                                                -webkit-border-radius: 0 0.5em 0.5em 0                           ;
                                                -moz-border-radius: 0 0.5em 0.5em 0                           ;
                                                -ms-border-radius: 0 0.5em 0.5em 0                           ;
                                                -o-border-radius: 0 0.5em 0.5em 0                           ;
    }
                                            input[type=text],select{
                                                font-family: "Gruppo", sans-serif;
                                                padding: 0.4em;
                                                font-size: 1em;
                                                outline: none;
                                                width: 100%;
                                                border: 0.1em solid #00044b8a;
                                                box-sizing: border-box;
                                            }
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .form-footer{
                        background: #e7e7e7;
                        padding: 0.4em;
                        button{
                            cursor: pointer;
                            padding: 1em 1em;
                            background: #00044bb6;
                            border: none;
                            color: #fff;
                            border-radius: 0.4em;
                            -webkit-border-radius: 0.4em;
                            -moz-border-radius: 0.4em;
                            -ms-border-radius: 0.4em;
                            -o-border-radius: 0.4em;
                            svg{
                                transform: translateY(4px);
                                -webkit-transform: translateY(4px);
                                -moz-transform: translateY(4px);
                                -ms-transform: translateY(4px);
                                -o-transform: translateY(4px);
                            }
                        }
                        button:hover{
                            background: var(--main-bg);;
                        }
                    }
                    .no-br{
                        padding: 0.5em;
                        table{
                            width: 100%;
                            border-spacing: 0;
                            border-collapse: collapse;
                            tr{
                                td{
                                    label{
                                        font-size: 0.7em;
                                        padding: 0.5em 0.5em 0.5em 0.3em;
                                        i{
                                            font-size: 0.5em;
                                        }
                                    }
                                    input[type=text], input[type=email], input[type=date],input[type=file], select{
                                        font-family: "Gruppo", sans-serif;
                                        padding: 0.4em;
                                        font-size: 0.7em;
                                        outline: none;
                                        width: 100%;
                                        border: 0.1em solid #e0e0e0;
                                        background: #eeecec;
                                        box-sizing: border-box;
                                    }
                                    input:focus, select:focus{
                                        outline: 0.08em solid #aaa
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .body-edu{
                display: grid;
                grid-template-columns: 30% 70%;
                background-color: #fff;
                border-top: 0.1em solid var(--main-bg); ;
                padding: 1em;
                box-shadow: 0 3px 4px var(--main-bg);;
                border-radius: 0.3em                    ;
                -webkit-border-radius: 0.3em                    ;
                -moz-border-radius: 0.3em                    ;
                -ms-border-radius: 0.3em                    ;
                -o-border-radius: 0.3em                    ;
                .left-edu{
                    grid-column: 1/2;
                    margin:0.2em 1.5em  0.2em 0;
                    div{
                        cursor: pointer;
                        padding: 0.3em;
                        color: #00f;
                        font-size: 0.7em;
                        margin-bottom: 1em;
                        border-color: #b4b4b4;
                        border-width: 0.08em 0.08em 0 0.08em ;
                        border-radius: 0.3em 0.3em 0 0                   ;
                        -webkit-border-radius: 0.3em 0.3em 0 0                   ;
                        -moz-border-radius: 0.3em 0.3em 0 0                   ;
                        -ms-border-radius: 0.3em 0.3em 0 0                   ;
                        -o-border-radius: 0.3em 0.3em 0 0                   ;
}
                }
                .right-edu{
                    grid-column: 2/3;
                    
                }
            }
        }
        #footer{
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 0.7em;
            padding:0  0.5em;
            .left-footer{
                grid-column: 1/2;
            }
            .right-footer{
                grid-column: 2/3;
                text-align: right;
                button{
                    cursor: pointer;
                    padding: 0.5em 0.8em;
                    background: var(--main-bg);
                    border: none;
                    color: #fff;
                    margin-left: 20px;
                    border-radius: 0.4em;
                }
            }
        }
    }
    
};
@media screen and (max-width:768px){
    .db-winscroll{
        display: block;
        position: relative;
        #db-panel{
            display: none;
            width: 45%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }
        #display-screen{
            .screen{
                .screen-body{
                    margin: 20px 0;
                }
                .body-edu{
                    display: block;
                }
            }
            .footer{
                font-size: 0.5em;
            }
        }
    }
}