/* Basic CSS for the alert box */
.alert {
    position: absolute;
    top: 2;
    z-index: 999;
    width: 100%;
    text-align: center;
    padding: 10px;
    
    margin-bottom: 10px;
    border-radius: 4px;
    display: none; /* Hidden by default */
}

.alert.success {
    background-color: #4caf4f59; /* Green */
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

.alert.info {
    background-color: #2196F3; /* Blue */
}

.alert.warning {
    border: 1px solid #ffa500;
    color: #ffa500;
    background-color: #ffa60070; /* Orange */
}
.alert.danger{
    background-color: #fd21116e; /* Red */
    color: #fd2111;
    border-top: 1px solid #fd2111;
}

.close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}
.invalidURI{
    color: #fd2111;
    display: flex;
    justify-content: center;
    align-items: center;
}
b{
    cursor: pointer;
}